<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <display-name>rest-doc-api</display-name>

    <servlet>
        <servlet-name>DefaultJaxrsConfig</servlet-name>
        <servlet-class>io.swagger.jaxrs.config.DefaultJaxrsConfig</servlet-class>
        <init-param>
            <param-name>api.version</param-name>
            <param-value>1.0.0</param-value>
        </init-param>
        <init-param>
            <param-name>swagger.api.title</param-name>
            <param-value>eXo Plateform REST API</param-value>
        </init-param>
        <init-param>
            <param-name>swagger.api.basepath</param-name>
            <param-value>http://localhost:8080/rest-doc-api</param-value>
        </init-param>
        <init-param>
            <param-name>swagger.pretty.print</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <!-- swagger servlet reader -->
    <servlet>
        <servlet-name>DefaultServletReaderConfig</servlet-name>
        <servlet-class>com.wordnik.swagger.servlet.config.DefaultServletReaderConfig</servlet-class>
        <load-on-startup>2</load-on-startup>
        <init-param>
            <param-name>swagger.resource.package</param-name>
            <param-value>org.exoplatform.</param-value>
        </init-param>
        <init-param>
            <param-name>swagger.api.basepath</param-name>
            <param-value>http://localhost:8080</param-value>
        </init-param>
        <init-param>
            <param-name>api.version</param-name>
            <param-value>1.0.0</param-value>
        </init-param>
    </servlet>
    <!-- swagger api declaration -->
    <servlet>
        <servlet-name>ApiDeclarationServlet</servlet-name>
        <servlet-class>com.wordnik.swagger.servlet.listing.ApiDeclarationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApiDeclarationServlet</servlet-name>
        <url-pattern>/api-docs/*</url-pattern>
    </servlet-mapping>

    <!-- <servlet> <servlet-name>Jersey2Config</servlet-name> <servlet-class>io.swagger.jersey.config.JerseyJaxrsConfig</servlet-class>
        <init-param> <param-name>api.version</param-name> <param-value>1.0.0</param-value>
        </init-param> <init-param> <param-name>swagger.api.basepath</param-name>
        <param-value>http://localhost:8080/api</param-value> </init-param> <load-on-startup>2</load-on-startup>
        </servlet> -->

    <servlet>
        <servlet-name>Bootstrap</servlet-name>
        <servlet-class>org.exoplatform.addons.restapidoc.Bootstrap</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <!-- <servlet>
        <servlet-name>SwaggerConfig</servlet-name>
        <servlet-class>org.exoplatform.restapidoc.SwaggerConfig</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet> -->
</web-app>

